.Contact {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 14%;
  margin-top: 9%;
  justify-content: center;
}

fieldset {
  background-color: rgb(235, 235, 235);
  border: 3px solid rgb(255, 255, 255);
  box-shadow: -10px 10px 20px rgb(187, 187, 187);
  text-shadow: -10px 10px 20px rgb(187, 187, 187);
  padding-top: 5%;
  padding-bottom: 5%;
}

legend {
  font-weight: bold;
  font-size: 200%;
}



@media (max-width: 600px){

  .Contact {
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 60%;
    padding-top: 20%;
  }

}
